<%- include('./partials/header') %>

    <main class="container mt-5">
      <div class="jumbotron text-center position-relative">
        <div class="jumbotron-image-wrapper">
          <img
            src="/assets/about.jpg"
            alt="Image de fond café"
            class="img-fluid rounded mx-auto d-block jumbotron-image"
          />
        </div>
        <div class="jumbotron-text">
          <h1 class="display-4">Notre catalogue</h1>
          <p class="lead">Découvrez nos cafés de qualité.</p>
        </div>
      </div>

      <div class="d-flex justify-content-end mb-3">
        <div style="width: 200px">
          <form action="/catalog/search" method="get">
            <label for="categorySelect" class="form-label"></label> 
            <select name="category" class="form-select" id="categorySelect" onchange="this.form.submit()">
              <option value="">Toutes les catégories</option>
              <option value="Corsé">Corsé</option>
              <option value="Acide">Acide</option>
              <option value="Fruité">Fruité</option>
              <option value="Doux">Doux</option>
              <option value="Épicé">Épicé</option>
              <option value="Chocolaté">Chocolaté</option>
            </select>
          </form>
        </div>
      </div>

      <section class="mt-5">
        <div class="row">

          <% coffees.forEach(coffee => { %>
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <img
                  src="/assets/coffees/<%= parseInt(coffee.reference) %>.png"
                  class="card-img-top"
                  alt="Image <%= coffee.name %>"
                />
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title"><%= coffee.name %></h5>
                  <p class="card-text"><%= coffee.description %></p>
                  <a href="./product/<%= coffee.id %>" class="btn btn-secondary mt-auto"
                    >Découvrir</a
                  >
                </div>
              </div>
            </div>
          <% }) %>

        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>